<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changmin.cm_backend.mapper.OrderMapper">

    <resultMap type="com.changmin.cm_backend.model.pojo.OrderDO" id="OrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createTimeUtc" column="create_time_utc" jdbcType="TIMESTAMP"/>
        <result property="updateTimeUtc" column="update_time_utc" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="wuxingId" column="wuxing_id" jdbcType="VARCHAR"/>
        <result property="data" column="data" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UserWithOrderCountResultMap" type="com.changmin.cm_backend.model.pojo.UserWithOrderCountDO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="reservedOrderCount" column="reserved_order_count"/>
    </resultMap>

    <select id="getUserWithOrderCount" resultMap="UserWithOrderCountResultMap">
        SELECT u.id, u.username, u.phone, u.email, COUNT(*) as reserved_order_count
        FROM "order" AS o
                 LEFT JOIN "user" AS u ON o.user_id = u.id
        WHERE o.state = 'RESERVED'
          AND o.deleted = 'false'
        GROUP BY u.id
        ORDER BY MAX(o.create_time_utc) DESC
    </select>
</mapper>

